/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1.5em;
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#about-us,
#method,
#signup {
    scroll-margin-top: 100px;
}

/* Main content */
main {

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

/* Hero section */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/minimal.webp") center center / cover no-repeat;
    position: relative;

}

#cover-text {

    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#cover-text>h2 {
    color: #ffffff;
    margin: 0 0 1rem 0;
}


/* About us section */

.div-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#about-us {
    padding: 2rem;

}


#about-us h2 {
    color: black;
}

.about-us-box {
    margin: 1rem 0;
}

section h3 {
    color: black;
}

p {
    color: black;
}

/* Method section */

.method {
    padding: 2rem;
    background-color: #252525;
    width: 100%;
    position: relative;
}

.div-container-method {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-content-method {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #fafafa;
}

.text-content-method h2 {
    color: #fafafa;
}

/* Sign up section*/

#signup {
    background-image: url(../images/signup-image.webp);
    background-size: cover;
    background-position: 75%;
    padding: 2rem;
}


.text-content-signup {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.text-content-signup h2 {
    margin: 0 0 1rem 0;
}

/* Form */

#signup-form {
    color: #ffffff;
    padding: 20px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
    
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}



.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgba(241, 237, 239, 0.8);
    color: black;
}


/* Footer */


#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;

    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}






/* Media query: screens smaller than 600px */
@media (max-width: 600px) {
    .div-container {
        flex-direction: column;
        /* Stack children vertically on small screens */
    }
    .div-container-method {
        flex-direction: column;
        /* Stack children vertically on small screens */
    }
    .text-content-signup {
        flex-direction: column;
        /* Stack children vertically on small screens */
    }

}

/* Media query: screens min 768px */
@media screen and (min-width: 768px) {

    /* Form */
    #signup {
      background-position: center;
      position: relative;
    }
  
    #signup-form {
      max-width: 500px;
    }
  
    .text-input:hover {
      border-color: #f16c6b;
    }
  
    .join-button:hover {
      background-color: #fafafa;
      color: #454b1b;
    }
  }